{% extends "base.html.twig" %}

{% block title %} {{ parent() }}  {% endblock %}
       
{% block contenu %}
          <!--/col-->
          <!--/col-->
{% if form.mess is defined %} 
    {% if form.mess != null %}  
          <!--/col-->
   
<div class="col-md-8 offset-md-2">
                    <span class="anchor" id="formUserEdit"></span>
                    
                  
                    <hr class="my-5">
                   
                          <a class="btn btn-primary"  href="index.php?page=listemessage" role="button">Liste des messages </a>
                          <a class="btn btn-primary"  href="index.php?page=ajoutmessagelo" role="button">Ajoutez un message </a> 

   
                    <!-- form user info -->
                    <div class="card card-outline-secondary">
                        
                        <div class="card-header">
                            <h3 class="mb-0" style="text-align: center;">Modification du message :</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form"  action="index.php?page=messagemodif" method="POST" enctype="multipart/form-data">
                            <input type="hidden" id="id" name="id" value="{{form.mess.id}}"/> 
                                <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" for="pseudo">Pseudo:</label>
                             <div class="col-lg-9">
                            <input type="text" class="form-control" name="pseudo" id="pseudo" value="{{form.mess.Pseudo}}">
                            </div>
                            </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label" for="email">Email:</label>
                       <div class="col-lg-9">
                      <input type="email" name="email" class="form-control" id="email" value="{{form.mess.email}}">
                    </div> 
                      </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" for="comment">Message:</label>
                     <div class="col-lg-9">
                    <input type="text" name="message" class="form-control" rows="5" id="message" value="{{form.mess.message}}">
                        </div> 
                       </div> 
                             <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Etat du message</label>
                                    <div class="col-lg-9">                                     
                    <select name="etat" class="form-control">
        {% if form.mess.idEtat_messsage == null %} 
             <option value="2" selected>Etat non identifié</option> 
        {% else %}
             <option value="2">Etat non identifié</option>
        {% endif %}      
        {% for u in liste %}
            {% if u.id == form.mess.idEtat_message %}  
                
                <option value="{{ u.id }}" selected> {{ u.etat }}</option> 
            {% else %} 
                <option value="{{ u.id }}"> {{ u.etat }}</option>
            {% endif %}      
        {% endfor%}    
        </select> 
                                    </div>
                                </div>       
                               
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label"></label>
                                    <div class="col-lg-9">                                     
                                         <center><input type="submit" class="btn btn-primary" name="btModif" id="btAjoutabl" value="Modifié"> </center>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /form user info -->

                </div>
                                
  {% else %}  
        {% if form.valide == true %}
           {% if form is empty %} 
                        {% elseif form.valide == true %} <div id="messagealert" class="alert alert-success" role="alert" style="text-align: center;">{{form.message}}</div>
                         {% elseif form.invalide == false %} <div id="messagealert" class="alert alert-danger" role="alert" style="text-align: center;">{{form.message}}</div>{% endif%}
            <h1 class="mb-0" style="text-align: center;"><a href="index.php?page=listemessage" class="violet">Retourner sur la liste des messages</a></h1>
        {% else %}    
            {% if form is empty %} 
                        {% elseif form.valide == true %} <div id="messagealert" class="alert alert-success" role="alert" style="text-align: center;">{{form.message}}</div>
                         {% elseif form.invalide == false %} <div id="messagealert" class="alert alert-danger" role="alert" style="text-align: center;">{{form.message}}</div>{% endif%}
            <h1 class="mb-0" style="text-align: center;"><a href="index.php?page=listemessage" class="violet">Retourner sur la liste des messages</a></h1>
        {% endif %} 
    {% endif %} 
{% else %} 
     {% if form is empty %} 
                        {% elseif form.valide == true %} <div id="messagealert" class="alert alert-success" role="alert" style="text-align: center;">{{form.message}}</div>
                         {% elseif form.invalide == false %} <div id="messagealert" class="alert alert-danger" role="alert" style="text-align: center;">{{form.message}}</div>{% endif%}
     <h1 class="mb-0" style="text-align: center;"><a href="index.php?page=listemessage" class="violet">Retourner sur la liste des messages</a></h1>
       
{% endif %}
 {% endblock %} 

{# empty Twig template #}
{# empty Twig template #}
